@import "../../styles/variables.scss";

.button {
  font-family: $font-primary;
  color: $secondary-color;
  background-color: $primary-color;
  border: none;
  padding: $spacing-2 $spacing-4;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color $transition-fast;
  text-decoration: none;
  font-size: 1.2rem;

  &:hover {
    background-color: darken($primary-color, 20%);
    color: $accent-color;
  }
}
