@import "../../../styles/variables.scss";

.heroContainer {
  text-align: center; // Centra el contenido en la columna

  .heroTitle {
    color: $light-color; // Ajusta según tu esquema de color
    margin-bottom: 20px;
    font-size: 2.2rem;
    font-weight: 900;
    font-family: $font-primary; // Ajusta según tu esquema de fuentes
  }

  .heroText {
    color: $terciary-color; // Ajusta según tu esquema de color
    margin-bottom: 30px;
    font-size: 1.0rem;
    font-weight: 400;
    padding-bottom: $spacing-5;
    font-family: $font-secondary; // Ajusta según tu esquema de fuentes
  }

  .videoSection {
    // Ajustes básicos para el video
    max-width: 600px; // Ajusta según el diseño de tu sitio
    margin: 0 auto; // Centra el video
    padding-top: $spacing-5; // Añade espacio entre el texto y el video
    padding-bottom: $spacing-5; // Añade espacio entre el video y el botón

    .heroVideo {
      width: 100%;
      border-radius: 8px; // Opcional, para bordes redondeados
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Opcional, para sombra
    }
  }
}

