@import "../../../styles/variables"; // Ajusta esta importación según tu estructura de proyecto

.carouselContainer {
  .mySwiper {
    width: 100%; // Asegura que el swiper ocupe el ancho completo

    .swiperSlide {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: auto; // Permite que el slide se ajuste al contenido
      height: auto; // Ajusta la altura basada en el contenido
      overflow: hidden; // Previene el desbordamiento del contenido

      .slideContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .modelTitle {
        text-align: center;
        color: $secondary-color;
        margin-bottom: 30px;
        font-size: 2.8rem;
        font-weight: 900;
        font-family: $font-primary;

        @media (max-width: 768px) {
          font-size: 2rem; // Reduce el tamaño de la fuente para pantallas más pequeñas
        }
      }

      .slideContent {
        background-color: $secondary-color;
        display: flex;

        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 80px 20px; // Añade un padding horizontal para evitar que el contenido toque los bordes

        @media (max-width: 768px) {
          flex-direction: column; // Cambia a una disposición en columna para pantallas más pequeñas
          gap: 1rem;
          padding: 40px 10px; // Reduce el padding en pantallas más pequeñas
        }

        .imageContainer {
          // Ajustes para la imagen si son necesarios
          img {
            max-width: 100%; // Asegura que la imagen no exceda el ancho del contenedor
            height: auto; // Mantiene la proporción de la imagen
          }
        }

        .infoContainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .caracteristicasFeature {
            width: 80%; // Asegura que las características ocupen el ancho completo del contenedor

            .featureItem {
              font-size: 1.2rem;
              color: $accent-color;
              padding: $spacing-5;
              background-color: $light-color;
              border-radius: 10px;
              margin-bottom: $spacing-3; // Añade un margen inferior para separar las características

              @media (max-width: 768px) {
                font-size: 1rem; // Reduce el tamaño de la fuente para pantallas más pequeñas
                padding: $spacing-4; // Reduce el padding
              }
            }
          }
        }
      }
    }
  }
}
