@import "../../styles/variables";

.navbar {
  background-color: $light-color;
  padding-bottom: 40px;

  .navBrand {
    display: flex;
    color: $secondary-color;
    justify-content: center;
    align-items: center;
    gap: $spacing-3;
    padding-left: $spacing-5;
    @media (max-width: 500px) {
      padding-left: $spacing-2;
    }

    .navLogo{
      border-radius: 5px;
      @media (max-width: 500px) {
        width: 120px;
        height: 35px;
        
      }
    }
  }

  .navLinks {
    color: $secondary-color;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: $spacing-5;

    .navLink {
      color: $secondary-color;
      font-size: 1.2rem;
      font-family: $font-secondary;

      &:hover {
        text-decoration: underline;
        color: $primary-color;
        transition: $transition-slow;
      }
    }
  }
}
