@import "../../../styles/variables.scss";

.title {
  text-align: center;
  color: $light-color;
  margin-bottom: 30px;
  font-size: 2.8rem;
  font-weight: 900;
  font-family: $font-primary;
}

.description {
  text-align: center;
  color: $terciary-color;
  margin-bottom: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: $font-secondary;
}

.iframeContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; // Esto establece una relación de aspecto de 16:9
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
      @media (max-width: $breakpoint-md) {
        padding-top: 100%; // Aumenta el height para dispositivos más pequeños
      }
  }
  
  .separator {
    border-bottom: 2px solid $light-color; // Usa el color secundario para la línea
    margin: 20px auto; // Margen para separar del título y las características
    width: 80%; // Controla el ancho de la línea de separación
  }
  .separatorDown {
    border-bottom: 2px solid $light-color; // Usa el color secundario para la línea
    margin: 20px auto; // Margen para separar del título y las características
    width: 80%; // Controla el ancho de la línea de separación
    padding-top: 40px;
  }