@import "../../../styles/variables.scss";

.testimonialContainer {
  
  padding: 20px 0;
  background-color: $light-color; // Asegúrate de ajustar los colores según tu esquema
  text-align: center;
  width: 100%;
}

.title {
  text-align: center;
  color: $secondary-color;
  margin-bottom: 30px;
  font-size: 2.8rem;
  font-weight: 900;
  font-family: $font-primary;
}

.description {
  text-align: center;
  color: $accent-color;
  margin-bottom: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: $font-secondary;
}

.testimonialCol {
  margin-bottom: $spacing-4;
  display: flex;
  justify-content: center;

  //     @include media-breakpoint-up(md) {
  //       margin-bottom: $spacing-5;
  //     }
}

.testimonio {
  background-color: $secondary-color; // Ajusta este color según tu preferencia
  border-radius: $border-radius-medium; // Asegúrate de que esta variable esté definida en tu archivo de variables SCSS
  padding: $spacing-4; // Ajusta el padding según necesites
  margin-bottom: $spacing-4; // Ajusta el margin-bottom según necesites
  box-shadow: $shadow-md; // Asegúrate de que esta variable esté definida en tu archivo de variables SCSS
  max-width: 480px; // Ajusta este valor para controlar el ancho de los cuadros de testimonio
  text-align: left; // Alinea el texto a la izquierda dentro del cuadro de testimonio

  &:hover {
    transform: translateY(-5px);
    box-shadow: $shadow-lg;
  }
}

.imagenAutorWrapper {
  flex-shrink: 0; // Previene que la imagen se deforme o escale incorrectamente
  border-radius: 50%;
  overflow: hidden;
  width: 90px; // Ajusta según necesites
  height: 90px; // Mantiene el aspecto cuadrado
  display: block; // Asegura que la imagen sea tratada como un bloque
  margin: 0 auto $spacing-5;
  padding-top: $spacing-2;
  

  img {
    border-radius: 50%;
  }
}

.textWrapper {
  text-align: center;

  .autor {
    font-weight: bold;
    color: $light-color;
    margin: 0;
    font-size: 1.2rem;
    font-family: $font-primary;
  }

  .cargo {
    font-style: italic;
    color: $terciary-color;
    margin: 0;
  }

  .textoTestimonio {
    color: $light-color;
    margin-top: $spacing-4;
    font-family: $font-secondary;
    color: $terciary-color;
    font-size: 1rem;
  }
}


.carousel-control-prev, .carousel-control-next {
  // Personaliza el color de las flechas para pantallas grandes
  color: $primary-color !important; // Usa !important para asegurar que sobrescriba los estilos por defecto

  @media (max-width: 768px) {
    // Cambia el color de las flechas para pantallas pequeñas
    color: $light-color !important;
  }
}

.testimonialContainer .carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonio {
  // Ajustes existentes se mantienen
  // Asegúrate de que el testimonio esté centrado adecuadamente si es necesario
  margin: auto;
  min-height: 300px; // Establece una altura mínima para los testimonios
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Personaliza los indicadores/dots del carrusel si es necesario
.carousel-indicators li {
  background-color: $secondary-color; // Cambia el color de los indicadores
}

.carousel-indicators .active {
  background-color: $accent-color; // Cambia el color del indicador activo
}

.imagenAutorWrapper, .textWrapper, .score {
  margin: 0 auto; // Centra los elementos horizontalmente
  text-align: center; // Asegura que el texto esté centrado
  padding: 0 15px; // Añade un poco de padding para evitar que el texto toque los bordes
}

.textWrapper {
  flex-grow: 1; // Permite que el contenedor del texto crezca para llenar el espacio disponible
  display: flex;
  flex-direction: column;
  justify-content: center; // Centra el texto verticalmente dentro del contenedor
}