@import "../../../styles/variables.scss";

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-color: transparent;
  padding: $spacing-5;
  @media (max-width: 520px) {
    height: 100vh;
  }

  .heroTitle {
    font-size: 2.5rem;
    font-weight: 900;
    color: $light-color;
    text-align: center;
    font-family: $font-primary;
    @media (max-width: 520px) {
      font-size: 2rem;
    }
  }
  .heroTitle2 {
    font-size: 2.9rem;
    font-weight: 900;
    color: $light-color;
    text-align: center;
    font-family: $font-primary;
    @media (max-width: 520px) {
      font-size: 2rem;
    }
  }

  .heroText {
    font-size: 1.2rem;
    font-weight: 400;
    color: $terciary-color;
    padding-top: $spacing-5;
    padding-bottom: $spacing-5;
    text-align: center;
    width: 80%;
    font-family: $font-secondary;

    @media (max-width: 520px) {
      font-size: 1rem;
    }
  }
}

.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; // Asegura que el contenedor de la imagen ocupe el ancho completo
  margin: $spacing-4; // Añade un margen arriba y abajo para separar la imagen del texto y el botón
  padding-bottom: $spacing-6;

}